<div class="settings-container" [ngClass]="{ 'dark-theme': preferences.theme === 'dark', 'light-theme': preferences.theme === 'light' }">

    <h2>Profil beállítások</h2>
  
    <form (ngSubmit)="savePreferences()">
      <div class="form-group">
        <label for="unit">Mértékegység:</label>
        <select [(ngModel)]="preferences.unit" name="unit" id="unit">
          <option value="metric">Metrikus (kg, cm)</option>
          <option value="imperial">Imperial (lbs, in)</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="theme">Téma:</label>
        <select [(ngModel)]="preferences.theme" name="theme" id="theme">
          <option value="light">Világos</option>
          <option value="dark">Sötét</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="language">Nyelv:</label>
        <select [(ngModel)]="preferences.language" name="language" id="language">
          <option value="hu">Magyar</option>
          <option value="en">Angol</option>
        </select>
      </div>

      <div class="form-group">
        <label for="currentWeight">Jelenlegi testsúly ({{ preferences.unit === 'metric' ? 'kg' : 'lbs' }}):</label>
        <input
          type="number"
          id="currentWeight"
          name="currentWeight"
          [(ngModel)]="user.currentWeight"
          *ngIf="user.currentWeight !== undefined"
          required
        />
        <span class="unit-display">{{ user.currentWeight | unitConversion:preferences.unit }}</span>
      </div>

      <div class="form-group">
        <app-target-weight-setter
        [currentWeight]="user.currentWeight"
        [targetWeight]="preferences.targetWeight"
        [unit]="preferences.unit"
        (targetWeightChanged)="onTargetWeightChanged($event)">
      </app-target-weight-setter>
      </div>
  
      <button type="submit">Mentés</button>
    </form>
  </div>
  