<nav class="navbar">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/all-foods" routerLinkActive="active">Ételek</a>
    <a routerLink="/food-log" routerLinkActive="active">Napló</a>
    <a routerLink="/add-food" routerLinkActive="active">Étel hozzáadása</a>
    <a routerLink="/statistics" routerLinkActive="active">Statisztikák</a>
    <a routerLink="/profile" routerLinkActive="active">Profil</a>
    <a (click)="logout()" style="cursor: pointer;">Kijelentkezés</a>
  </nav>
  
