.navbar {
  position: fixed;
  background-color: var(--card-bg);
  color: var(--text-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: all 0.3s ease;
}

@media screen and (min-width: 1200px) {
  .navbar {
    top: 0;
    right: 0;
    height: 100vh;
    width: 180px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow-y: auto;
  }

  .navbar a {
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1199px) {
  .navbar {
    top: 0;
    left: 0;
    width: 98%;
    height: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar a {
    display: flex;          /* Ezt add hozzá */
    align-items: center;    /* Ezt add hozzá */
    height: 100%;           /* Opcionális, de segít a függőleges középre igazításban */
    margin-bottom: 0;  
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
  }
}

.navbar a.active {
  color: 
#007bff;
}