.egesz {
  max-width: 600px;
}

.date-selector-card {
  background-color: var(--card-bg);
  margin-bottom: 16px;
  padding: 12px;
}


.date-selector-card mat-form-field {
  background-color: var(--card-bg);
}

.log-container {
  margin-bottom: 16px;
  background-color: var(--nagyobb-kontener);
}

.totals-card {
  background-color: var(--card-bg);
  color: var(--text-color);
  box-shadow: var(--card-shadow);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 16px;
}

.totals-card span {
  color: var(--text-color);
}

.food-item {
  height: auto !important;
  margin-bottom: 8px;
}

.food-item-content {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  
  mat-icon {
    margin-right: 8px;
  }
  
  span {
    flex-grow: 1;
  }
}

.food-actions {
  display: flex;
  gap: 8px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 0;
}

.edit-form mat-label {
  color: var(--text-color);
}

.edit-form input {
  color: var(--text-color);
}

.form-actions {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background-color: var(--card-bg);
  color: var(--text-color);
  
  mat-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
    margin-bottom: 16px;
  }
}
