<div class="home-container">
  <h1 class="welcome-text">Üdv újra!</h1>

  <div class="card calorie-summary">
    <p><strong>Napi célod:</strong> {{ userWeight | dailyCalories:getGender():userPreferences?.unit }} kcal</p>
    <p><strong>Eddig elfogyasztottad:</strong> {{ totalCaloriesToday }} kcal</p>
    <p><strong>Hátralévő:</strong> 
      {{
        (userWeight | dailyCalories:getGender():userPreferences?.unit) - totalCaloriesToday
      }} kcal
    </p>
    
    <div class="progress-bar">
      <div
        class="progress"
        [style.width.%]="(totalCaloriesToday / (userWeight | dailyCalories:getGender():userPreferences?.unit)) * 100"
      ></div>
    </div>
  </div>

  <app-daily-food-list 
    [foods]="todaysFoods"
    (foodDeleted)="onFoodDeleted($event)">
  </app-daily-food-list>
</div>
